.footer{
    padding: 1rem;
    background-color: #b1c7c7;
    justify-content: center;
}
.footerDiv{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.socialMedia{
    display: flex;
    width: 10vw;    
    margin-left: 45%;
    justify-content: center;
    gap: 1.3rem;
    transform: scale(1.5);
    
}
.lastText{
    margin: 1% 0 0 44%;

}